#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.summary-stats {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar styling */
.sidebar {
  width: 220px;
  background-color: #9fa8ee;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}


.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav li {
  margin: 12px 0;
  cursor: pointer;
}

.sidebar nav li:hover {
  text-decoration: underline;
}

/* Main content styling */
.main-content {
  margin-left: 240px; /* Leave space for sidebar */
  padding: 30px;
  flex: 1;
  background-color: #f5f7fa;
  min-height: 100vh;
}